
 h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 2.0rem;
    color:#1A2601;
}

h2, h3, h4, h5, h6 {
    color:#1A2601;
}

p {
    color: #1A2601;
}

body {
    background-color: #588710a6;
}

#navbar {
    background-color: #000000;
}

a {
    color: #ffffff;
}

a:hover {
    color:#BF807A;
    text-decoration: underline;
}

a:visited {
    color:rgb(255, 255, 255);
}


.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #1000ee;
}

.nav-link:visited {
    color: #401F35; 
}

.navbar-brand {
    color:#ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
}